<div class="container kontakt1">
  <h1>Skontaktuj się z nami!</h1>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="formGroupExampleInput">Imię</label>
      <input type="text" class="form-control" formControlName="firstName" id="formGroupExampleInputName" placeholder="Imię">
      <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid" class="alert alert-danger error-prompt"
           required="">
        Proszę wprowadzić imię lub poprawić jego format używając jedynie liter
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Nazwisko</label>
      <input type="text" class="form-control" formControlName="lastName" id="formGroupExampleInputSurname" placeholder="Nazwisko">
      <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid" class="alert alert-danger error-prompt"
           required="">
        Proszę wprowadzić nazwisko lub poprawić jego format używając jedynie liter
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wprowadź email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <div *ngIf="form.get('email').touched && form.get('email').invalid" class="alert alert-danger error-prompt"
           required="">
        Proszę wprowadzić email lub poprawić jego format
      </div>
    </div>

    <p>Płeć:</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Mężczyzna
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Kobieta
      </label>
    </div>

    <div class="form-group padowanie1">
      <label for="comment">Opis:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>

    <div class="form-group">
      <label for="age">Wiek:</label>
      <input type="number" class="form-control" formControlName="age" name="age" id="age" min="18">
      <div *ngIf="form.get('age').touched && form.get('age').invalid" class="alert alert-danger error-prompt"
           required="">
        Proszę wprowadzić wiek
      </div>
    </div>

    <p>Stan cywilny:</p>
    <select class="custom-select">
      <option selected>Panna/Kawaler</option>
      <option value="1">Wdowa/Wdowiec</option>
      <option value="2">Zamężna/Żonaty</option>
      <option value="3">Stary/Stara</option>
    </select>


    <div class="form-check padowanie1">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Accept terms</label>
    </div>
    <div class="form-group padowanie1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>





</div>
