
  <nav class="navbar navbar-dark bg-white">
    <ul class="nav nav-pills nav-justified">
      <li><a routerLink="/home"><img src="./../assets/logo.jpeg" class="logo"> </a></li>
      <li class="active"><a routerLink="/home"><button type="button" class="btn btn-info">Strona Główna</button></a></li>
      <li><a routerLink="/blog"><button type="button" class="btn btn-info">Blog</button></a></li>
      <li><a routerLink="/quiz"><button type="button" class="btn btn-info">Quiz</button></a></li>
      <li><a routerLink="/contact"><button type="button" class="btn btn-info">Kontakt</button></a></li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Wyszukaj</button>
    </form>
  </nav>

