<div class="container mainquiz">



  <h1 class="h2">Quiz dla amatorów</h1>

  <div id="myProgress">
    <div id="myBar">10%</div>
  </div>
  <div class="quiz-container">
    <div class="quiztest" id="quiz"></div>
  </div>
  <div class="quiz-container">
    <button id="previous">Poprzednie pytanie</button>
    <button class="buttonright" id="next" onclick="move()">Następne pytanie</button>
    <button id="submit">Podsumuj quiz</button>
    <div class="result">
      <div id="results"></div>
    </div>
  </div>


</div>
